@model IEnumerable<Repository.Entities.CategoryTemp>

@{
    ViewData["Title"] = "Index";
}

<h1>Excel Sheets of Company</h1><br /><br />

<div class="container">
    <form method="post" asp-controller="CompanyExcel" asp-action="GetExcel" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Import From Excel</button>
    </form><br />
    </div>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if(Model != null)
            {
                foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                    </tr>
                }   
            }
         }
    </tbody>
</table>
