@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Hawahuri sngai yo web application ni udhna sakxa pilich Pakadam button thichera yeslai bachaunu hola natra regret garnu hola<br />
    <a class="btn btn-outline-primary">Pakadam</a>
    <a class="btn btn-outline-danger">Xod dim udos yrr</a>
    <h1>Privacy ko naam ma ghanta xa hai sathi...samjini pani xamkiney privacy ta</h1>
    <h2>Thakisake ma yo jindagi dekhi koi 2-3 crore diyera malai bachau yrr</h2>
</p>
