@model WebApplicationTicket.ViewModels.Tickets.CreateTicketViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TicketId" />
                <input type="hidden" asp-for="Category" />

                <input type="hidden" asp-for="ImageName" />

                <div class="xol-sm-2">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <select asp-for="CategoryName" class="form-control">
                        @foreach (var user in Model.Categories)
                        {
                            <option value="@user.CategoryName">@user.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div><br />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <label asp-for="TicketDetails" class="control-label"></label>
            <textarea rows="7" asp-for="TicketDetails" class="form-control"></textarea>
            <span asp-validation-for="TicketDetails" class="text-danger"></span>
        </div>
        <br />
        <div class="form-gropup">
            <label asp-for="Imagefile" class="control-label"></label>
            <input asp-for="Imagefile" accept="image/*" />
            <span asp-validation-for="Imagefile" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
        </div>
    </form>
</div>
@section Scripts {

}
