@using Microsoft.AspNetCore.Identity
@using WebApplicationTicket.Areas.Identity.Data
@using WebApplicationTicket.ViewModels
@model WebApplicationTicket.ViewModels.Tickets.EditTicketViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";
   
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <input type="hidden" asp-for="TicketId" />
            <input type="hidden" asp-for="Category" />
            
            <input type="hidden" asp-for="ImageName" />
            
            <div class="form-group">
                <label asp-for="TicketDetails" class="control-label"></label>
                <input asp-for="TicketDetails" class="form-control" />
                <span asp-validation-for="TicketDetails" class="text-danger"></span>
                </div>
            <br /> 
           <dt class = "col-sm-2">
            Uploaded Image
            </dt>
            <dt class = "col-sm-2">
            <img src ="@("~/image/"+ Model.ImageName)" asp-append-version ="true" width="250px" height="250px" />
            </dt><br />
             <div class="xol-sm-2">
                 <label asp-for="AssignedTo" class="control-label"></label>
                 <select asp-for="AssignedTo" class="form-control">
                     @foreach(var user in Model.Users)
                    {
                        <option value="@user.Email">@user.Email</option>
                    }
                </select>
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
             </div><br />
            <div class="form-group">
                <input type="submit" value="update" class="btn btn-primary" />
                 <a asp-controller="Ticket" asp-action="Index" class="btn btn-danger" style="width:150px">
            Back to List
            </a>
             <a asp-controller="Ticket" asp-action="AssignTo" class="btn btn-success" style="width:150px">
            Send 
            </a>
        </div>
        </form>
        </div>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
