@model Common.ViewModels.Tickets.EditTicketViewmodel

@{
    ViewData["Title"] = "EditTicket";
}

<h1>EditTicket</h1>

<h4>EditTicketViewmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketId" />
            <input type="hidden" asp-for="ModifiedBy" />
            <input type="hidden" asp-for="ModifiedDateTime" />
            <input type="hidden" asp-for="Status" />
            <div class="form-group">
                <label asp-for="TicketDetails" class="control-label"></label>
                <input asp-for="TicketDetails" class="form-control" />
                <span asp-validation-for="TicketDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
