@model Repository.Entites.UserRole

@{
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card-header">
        <h2>Add or remove users from this role</h2>
    </div>
    <div class="card-body">
        
    </div>
</form>