@model IEnumerable<Repository.Entites.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col">
        <a asp-action="CreateRole" class="btn btn-outline-info pull-right">Create New</a>
    </div>
</div>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td><br/>
                <div class="w-75 btn-group" role="group">
                    <a title="Edit" asp-controller="Role" asp-action="EditRole" asp-route-Id="@item.Id" class="btn btn-primary mx-2" ><i class="bi bi-pencil-square"></i></a>
                    <a title="ManagePermission" asp-controller="Role" asp-action="AssignPermissionToRole" asp-route-Id="@item.Id" class="btn btn-danger mx-2" ><i class="bi bi-shield-lock"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
