@model Common.ViewModels.Role.EditRole

@{
    ViewData["Title"] = "ManageRole";
}

<h1>ManageRole</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManageRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
              <div class="xol-sm-2">
                <label asp-for="Permission" class="label-control"></label>
                <select asp-for="Permission" class="form-control" multiple>
                    @foreach(var permissions in Model.ListPermission)
                    {
                        <option value="@permissions.Id" class="text-danger">@permissions.Name</option>
                    }
                </select>
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
