@model Repository.Entites.Role  

@{
    ViewData["Title"] = "RoleDetails";
}

<h1>RoleDetails</h1>

<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permissions)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-warning" >Back to List</a>
</div>
