@model IEnumerable<Repository.Entites.UserRole>

@{
    ViewData["Title"] = "UserRole";
}

<h1>UserRole</h1>


<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                RoleName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
        </tr>
}
    </tbody>
</table>
